* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #131c27;
  color: white;
  font-size: calc(1.2rem + 1vw);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav {
  width: 95%;
  min-height: 10vh;
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  padding: 2rem;
  cursor: pointer;
  font-family: 'Great Vibes', cursive;
}

nav ul {
  cursor: pointer;
  padding: 2rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

nav ul a {
  text-decoration: none;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

footer {
  min-height: 10vh;
  background-color: #131c27;
}

footer .footer {
  width: 90%;
  height: 10vh;
  margin: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

footer .footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

footer .footer .social-icons img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

main .section-1 {
  min-height: 90vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent)), url(/img/landing-page.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url(/img/landing-page.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

main .section-1 h1 {
  font-size: 4rem;
}

main .section-1 h3 {
  padding: 4rem;
  font-size: 2.4rem;
  text-align: center;
}

main .section-1 button {
  background-color: #4c6e97;
  padding: 1.5rem 4rem;
  border: none;
  color: white;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

main .section-1 button:hover {
  background-color: #192e49;
}

main .section-2 {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent)), url(/img/new-york-page.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url(/img/new-york-page.png);
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

main .section-2 .section-2-text {
  width: 90%;
  margin: auto;
}

main .section-2 .section-2-text h1 {
  font-size: 5rem;
  text-decoration: underline;
  padding: 1rem 0;
}

main .section-2 .section-2-text h3 {
  font-size: 3.5rem;
  color: #663b34;
  font-weight: 400;
  padding: 5rem 0;
}

main .section-2 .cloud-1 {
  height: 55rem;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: cloud-move 3s infinite alternate ease-in-out;
          animation: cloud-move 3s infinite alternate ease-in-out;
}

main .section-2 .cloud-2 {
  height: 50rem;
  position: absolute;
  top: 10rem;
  right: 0;
  z-index: -1;
  -webkit-animation: cloud-move 3s infinite alternate ease-in-out;
          animation: cloud-move 3s infinite alternate ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

main .section-3-text {
  min-height: 35vh;
  background-color: #343c44;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .section-3-text h1 {
  font-size: 5rem;
}

main .section-3-text h2 {
  font-size: 3.3rem;
  padding: 2rem 0;
  line-height: 1.5;
  font-weight: 400;
}

main .cards {
  min-height: 70vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .cards .card {
  margin-top: 2rem;
  min-height: 40vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 27rem;
          flex: 1 1 27rem;
  margin: 2rem 5rem;
  text-align: center;
  -webkit-box-shadow: 4px 11px 10px -3px rgba(66, 62, 62, 0.75);
          box-shadow: 4px 11px 10px -3px rgba(66, 62, 62, 0.75);
}

main .cards .card .card-icon {
  background-color: #27394e;
}

main .cards .card .card-icon img {
  max-width: 15%;
  margin: 2rem;
}

main .cards .card h1 {
  font-size: 3rem;
}

main .cards .card p {
  font-size: 2rem;
  padding: 1rem;
  line-height: 1.5;
}

main .section-4 {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent)), url(/img/contact-mountain.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url(/img/contact-mountain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section-4 form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  color: white;
  background-color: rgba(19, 28, 39, 0.8);
  border-radius: 20px;
}

main .section-4 form h1 {
  padding: 4rem;
  font-size: 4.5rem;
}

main .section-4 form .input-1 {
  padding: 3rem;
}

main .section-4 form .input-1 h1 {
  font-size: 4.8rem;
}

main .section-4 form .input-1 label {
  font-size: 2rem;
  margin: 0 3rem;
}

main .section-4 form .input-1 input {
  padding: 1rem 3rem;
}

main .section-4 form .input-2 {
  padding: 3rem;
}

main .section-4 form .input-2 h1 {
  font-size: 4.8rem;
}

main .section-4 form .input-2 label {
  font-size: 2rem;
  margin: 0 3rem;
}

main .section-4 form .input-2 input {
  padding: 1rem 3rem;
}

main .section-4 form button {
  width: 100%;
  background-color: #4c6e97;
  border: none;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  font-size: 2rem;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(10%, -20%);
            transform: translate(10%, -20%);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(10%, -20%);
            transform: translate(10%, -20%);
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 8px;
  }
  header nav h2 {
    text-align: center;
  }
  header nav ul {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */